name: Dev
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write  # for PR comments

jobs:
  test_dev:
    name: Test development
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
      - name: Set up node & dependencies
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile

      - name: Typecheck
        run: pnpm typecheck

      - name: Run the unit tests
        run: pnpm run test:all
